<div style="display: flex;">
  <div style="margin-left: 10px; margin-top: 10px; width: 25vw;">
    <div style="display: flex;">
      <div
        class="option"
        [style.background-color]="setBackgroundColor('Material')"
        (click)="selectOption('Material')"
      >
        Select Material
      </div>
      <div style="line-height: 6vh; font-size:18px;">: {{ selectedMat }}</div>
    </div>

    <div style="display: flex;">
      <div
        class="option"
        [style.background-color]="setBackgroundColor('Shape')"
        (click)="selectOption('Shape')"
      >
        Select Shape
      </div>
      <div style="line-height: 6vh; font-size:18px;">: {{ selectedShape }}</div>
    </div>

    <div style="display: flex;">
      <div
        class="option"
        [style.background-color]="setBackgroundColor('Enchantment')"
        (click)="selectOption('Enchantment')"
      >
        Select Enchantment
      </div>
      <div style="line-height: 6vh; font-size:18px;">: {{ selectedEnch }}</div>
    </div>

    <div style="display: flex;">
      <div
        class="option craft"
        [style.background-color]="setBackgroundColor('Craft')"
        [ngClass]="{ disabled: disabled }"
        (click)="buildCraftedItem()"
      >
        Build
      </div>
      <div style="line-height: 6vh; font-size:18px;"></div>
    </div>
    <div style="padding: 12px 20px;">
      Items To Craft: {{playerData.craftedItems.length}}
    </div>
  </div>

  <div class="viewport">
    <div *ngIf="selectedMenu === 'Material'; then material"></div>
    <div *ngIf="selectedMenu === 'Shape'; then shape"></div>
    <div *ngIf="selectedMenu === 'Enchantment'; then enchantment"></div>
  </div>
</div>

<ng-template #material>
  <div style="margin: 10px; font-size: 26px; text-align: center; width: 49vw; border-bottom: 1px solid black;">
    Select Material To Use
  </div>
  <div
    *ngFor="let chunk of array_chunk(materials_list, 6)"
    style="display: flex; margin-left: 4px;"
  >
    <div *ngFor="let mat of chunk">
      <div class="option mat" (click)="clickedMaterial(mat)">
        {{ mat }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #shape>
  <div style="margin: 10px; font-size: 26px; text-align: center; width: 49vw; border-bottom: 1px solid black;">
    Select Shape To Build
  </div>
  <div
    *ngFor="let chunk of array_chunk(shapes_list, 6)"
    style="display: flex; margin-left: 4px;"
  >
    <div *ngFor="let shape of chunk">
      <div class="option mat" (click)="clickedShape(shape)">
        {{ shape }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #enchantment>
  <div style="margin: 10px; font-size: 26px; text-align: center; width: 49vw; border-bottom: 1px solid black;">
    Select Enchantment To Cast
  </div>
  <div
    *ngFor="let chunk of array_chunk(enchantments_list, 6)"
    style="display: flex; margin-left: 4px;"
  >
    <div *ngFor="let ench of chunk">
      <div class="option mat" (click)="clickedEnchantment(ench)">
        {{ ench }}
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-template #craft>
  <div style="display: flex;">
    <div class="option mat">
      {{ craftedItem.material }}
    </div>
    <div class="option mat">
      {{ craftedItem.shape }}
    </div>
    <div class="option mat">
      {{ craftedItem.enchantment }}
    </div>
  </div>
  <div
    [style.width]="maxBar"
    style="border: 1px solid black; margin-bottom: 4px; margin-left: 10px;"
  >
    <div
      style="height: 30px; background-color: gold;"
      [style.width]="bar"
      [style.background-color]="color"
    >
      <div style="margin-left: 8px; line-height: 30px;">
        {{ timeRemaining }}
      </div>
    </div>
  </div>

  <button (click)="increaseStep()">more speed</button>
</ng-template> -->
