<div style="display: flex;">
  <div style="margin-left: 10px; margin-top: 10px; width: 25vw;">
    <div>
      <div style="min-height:30vh;">
        <div
          *ngIf="knownTechnique('improve')"
          class="option technique"
          [style.background-color]="setBackgroundColor('Improvement')"
          (click)="selectOption('Improvement')"
        >
          Select Improvement Technique
        </div>

        <div
          *ngIf="knownTechnique('enhance')"
          class="option technique"
          [style.background-color]="setBackgroundColor('Enhance')"
          (click)="selectOption('Enhance')"
        >
          Select Enhancement Technique
        </div>

        <div
          *ngIf="knownTechnique('recover')"
          class="option technique"
          [style.background-color]="setBackgroundColor('Recovery')"
          (click)="selectOption('Recovery')"
        >
          Select Recovery Technique
        </div>

        <div
          *ngIf="knownTechnique('exotic')"
          class="option technique"
          [style.background-color]="setBackgroundColor('Exotic')"
          (click)="selectOption('Exotic')"
        >
          Select Exotic Technique
        </div>

        <div
          *ngIf="knownTechnique('ultimate')"
          class="option technique"
          [style.background-color]="setBackgroundColor('Ultimate')"
          (click)="selectOption('Ultimate')"
        >
          Select Ultimate Technique
        </div>
      </div>

      <div style="border-bottom: 1px solid black; padding: 12px 20px;">
        Finished Items:
      </div>
      <div
        *ngIf="playerData.finishedItems.length === 0"
        style="margin: 10px 0 0 16px;"
      >
        (none)
      </div>
      <div
        *ngFor="let fItem of playerData.finishedItems; let i = index"
        style="margin: 10px 0 0 4px;"
      >
        {{ i + 1 }}: {{ fItem.name }} | {{ fItem.value }}c |
      </div>
    </div>
  </div>

  <div class="viewport">
    <div style="display: flex;">
      <div
        style="border-bottom: 1px solid black; padding: 12px 20px; width: 15.5vw;"
      >
        Items To Craft:
      </div>
      <div
        style="border-bottom: 1px solid black; padding: 12px 20px; width: 100%;"
      >
        <!-- Crafting Options: -->
      </div>
    </div>
    <div
      *ngIf="playerData.craftedItems.length === 0"
      style="margin: 10px 0 0 16px;"
    >
      (none)
    </div>
    <div
      *ngFor="let item of playerData.craftedItems; let i = index"
      style="display: flex;"
    >
      <div
        style="padding: 10px 4px; height: 20px; width: 12vw; line-height: 20px; margin: 10px 0;"
      >
        {{ i + 1 }}: {{ formatDescription(item) }}
      </div>
      <div class="value">
        {{ getItemValue(item) }}c x{{ itemEnhanceFactor(item) }}
      </div>

      <ng-container
        *ngIf="selectedMenu === 'Improvement'"
        [ngTemplateOutlet]="improve"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
      <ng-container
        *ngIf="selectedMenu === 'Enhance'"
        [ngTemplateOutlet]="enhance"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
      <ng-container
        *ngIf="selectedMenu === 'Recovery'"
        [ngTemplateOutlet]="recovery"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
      <div *ngIf="selectedMenu === ''" style="width:24vw;"></div>

      <!-- <div
        class="option"
        style="margin: 10px 0 10px 10px; width: 100px; font-size: 16px;"
        (click)="reset(item)"
      >
        Reset/break
      </div> -->

      <div style="width: 100px;"></div>

      <div
        class="option"
        style="margin: 10px; width: 100px; font-size: 16px;"
        (click)="finishItem(item)"
      >
        Finish
      </div>
    </div>
  </div>
</div>

<ng-template #improve let-item="item">
  <div
    class="option"
    style="margin: 10px 0; width: 4vw; font-size: 16px;"
    (click)="improveItem(item)"
  >
    Improve
  </div>
  <div
    style="padding: 10px 4px; height: 20px; width: 20vw; line-height: 20px; margin: 10px 0;"
  >
    10% Break Chance
  </div>
</ng-template>

<ng-template #enhance let-item="item">
  <div
    class="option"
    style="margin: 10px 0; width: 4vw; font-size: 16px;"
    (click)="enhanceItem(item)"
  >
    Enhance
  </div>
  <div
    style="padding: 10px 4px; height: 20px; width: 20vw; line-height: 20px; margin: 10px 0;"
  >
    20% Failure Chance
  </div>
</ng-template>

<ng-template #recovery let-item="item">
  <div
    class="option"
    style="margin: 10px 0; width: 4vw; font-size: 16px;"
    (click)="recoverItem(item)"
  >
    Recovery
  </div>
  <div
    style="padding: 10px 4px; height: 20px; width: 20vw; line-height: 20px; margin: 10px 0;"
  >
    30% Failure Chance
  </div>
</ng-template>
