<div style="display:flex; padding-left:200px; padding-bottom: 20px;">
  <div style="font-size: 36px; font-weight: bold;">Blacksmith Life V</div>
</div>

<div>
  <div style="padding-left:100px;">
    <button
      [style.background-color]="setBackgroundColor('Game')"
      (click)="tabSelect('Game')"
    >
      Game
    </button>
    <button
      [style.background-color]="setBackgroundColor('Materials')"
      (click)="tabSelect('Materials')"
    >
      Materials
    </button>
    <button
      [style.background-color]="setBackgroundColor('Crafting')"
      (click)="tabSelect('Crafting')"
    >
      Crafting
    </button>
    <button
      [style.background-color]="setBackgroundColor('Trading')"
      (click)="tabSelect('Trading')"
    >
      Trading
    </button>
    <button
      [style.background-color]="setBackgroundColor('Training')"
      (click)="tabSelect('Training')"
    >
      Training
    </button>
    <button
      [style.background-color]="setBackgroundColor('Enchanting')"
      (click)="tabSelect('Enchanting')"
    >
      Enchanting
    </button>
  </div>

  <div
    style="border: 1px solid gray; border-radius: 5px; height: 80vh; width: 80vw; margin-left: 50px;"
  >
    <div *ngIf="selectedTab === 'Game'">
      <game-options></game-options>
    </div>
    <div *ngIf="selectedTab === 'Materials'">
      <materials [playerData]="playerData"></materials>
    </div>
    <div *ngIf="selectedTab === 'Crafting'">
      <crafting [playerData]="playerData"></crafting>
    </div>
    <div *ngIf="selectedTab === 'Trading'">
      <trading></trading>
    </div>
    <div *ngIf="selectedTab === 'Training'">
      Training: in crafting techniques and styles
    </div>
    <div *ngIf="selectedTab === 'Enchanting'">
      Enchanting
    </div>
  </div>
</div>
