<div style="display: flex;">
  <div class="viewport" style="width: 33vw;">
    <ng-container [ngTemplateOutlet]="store"></ng-container>
  </div>

  <div style="margin: 3vh 1vw 0 1vw; width: 10vw;">
    <div class="option" style="font-size: 20px; background-color: lightgray;">
      Trade
    </div>
    <div  *ngIf="sellList.length > 0" 
      style="border: 1px solid black; border-radius: 5px; padding: 2px; padding-bottom: 0;"
    >
      <div style="border-bottom: 1px solid black;">Sell List:</div>
      <div *ngFor="let entry of sellList">
        {{ entry.name }} qty: {{ entry.count }}
      </div>
      <div *ngIf="totalSellCost > 0" >Total Cost: {{ totalSellCost }}</div>
    </div>
    <div  *ngIf="buyList.length > 0" 
      style="border: 1px solid black; border-radius: 5px; padding: 2px; margin-top: 4px; padding-bottom: 0;"
    >
      <div style="border-bottom: 1px solid black;">Buy List:</div>
      <div *ngFor="let entry of buyList">
        {{ entry.name }} qty: {{ entry.count }}
      </div>
      <div *ngIf="totalBuyCost > 0" >Total Cost: {{ totalBuyCost }}</div>
    </div>
    <div>Haggle Chance: 0%</div>
    <div
      style="border: 1px solid black; border-radius: 5px; padding: 2px; margin-top: 4px; font-size: 20px; font-weight: bold;"
    >
      Final Cost: {{ totalSellCost - totalBuyCost }}
    </div>
  </div>

  <div class="viewport" style="width: 33vw;">
    <ng-container
      *ngIf="!selectedLocation"
      [ngTemplateOutlet]="map"
    ></ng-container>
    <ng-container
      *ngIf="selectedLocation"
      [ngTemplateOutlet]="vendor"
    ></ng-container>
  </div>
</div>

<ng-template #map>
  <div>
    <div
      style="margin-top: 15px; font-size: 26px; text-align: center; width: 33vw; border-bottom: 1px solid black;"
    >
      Map
    </div>
    <div
      *ngFor="let locations of array_chunk(getLocations(), 6)"
      style="display: flex; margin-left: 4px;"
    >
      <div *ngFor="let loc of locations">
        <div
          class="option"
          style="margin: 2px; padding: 2px;"
          (click)="selectLocation(loc)"
        >
          {{ loc }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #store>
  <div
    style="margin-top: 15px; font-size: 26px; text-align: center; width: 33vw; border-bottom: 1px solid black;"
  >
    Your Store
  </div>
  <ng-container [ngTemplateOutlet]="yourStore"></ng-container>
  <ng-container [ngTemplateOutlet]="yourMaterials"></ng-container>
  <ng-container [ngTemplateOutlet]="yourShapes"></ng-container>
</ng-template>

<ng-template #vendor>
  <div
    style="display: flex; height=36px; font-size: 22px; background-color: lightgray;"
  >
    <div class="backArrow" (click)="selectedLocation = null">&#x21E6;</div>
    <div style="line-height: 30px; margin-left: 11vw;">
      {{ selectedLocation }}
    </div>
  </div>
  <div
    style="margin-top: 15px; font-size: 26px; text-align: center; width: 33vw; border-bottom: 1px solid black;"
  >
    {{ selectedVendor.name }}
  </div>
  <div>
    {{ selectedVendor.name }} is a basic vendor with a local reputation and
    purveyor of modest materials
  </div>
  <div
    style="margin-top: 15px; font-size: 22px; width: 33vw; border-bottom: 1px solid black;"
  >
    <div style="display: flex;">
      <div style="margin-left: 3.4vw; width: 9.6vw;"></div>
      <div style="width: 9.6vw; font-size: 16px; line-height: 26px;">Count</div>
      <div style="width: 10vw;  font-size: 16px; line-height: 26px;">Cost</div>
    </div>
  </div>

  <ng-container
    [ngTemplateOutlet]="material"
    [ngTemplateOutletContext]="{ vendor: selectedVendor }"
  ></ng-container>
  <div
    style="margin-top: 15px; font-size: 22px; width: 33vw; border-bottom: 1px solid black;"
  ></div>
  <ng-container
    [ngTemplateOutlet]="shape"
    [ngTemplateOutletContext]="{ vendor: selectedVendor }"
  ></ng-container>
</ng-template>

<!-- * Vendor Templates * !-->
<ng-template #material let-vendor="vendor">
  Materials:
  <div
    *ngFor="let mat of vendor.materials_List; let i = index"
    [style.background-color]="alternateColor(i)"
    style="display: flex; margin: 5px;"
  >
    <div class="select" (click)="buyMaterialFromVendor(mat)">Buy</div>
    <div
      style=" padding-left: 10px; width: 10vw;  height: 24px; line-height: 24px; "
    >
      {{ mat }}
    </div>
    <div style="width: 10vw;">(qty: {{ getMatCount(mat, vendor) }})</div>
    <div style="width: 10vw;">
      {{ getMatCost(mat, vendor) }}
    </div>
  </div>
</ng-template>

<ng-template #shape let-vendor="vendor">
  Shapes:
  <div
    *ngFor="let shape of vendor.shape_list; let i = index"
    [style.background-color]="alternateColor(i)"
    style="display: flex; margin: 5px;"
  >
    <div class="select">Buy</div>
    <div
      style=" padding-left: 10px; width: 10vw;  height: 24px; line-height: 24px; "
    >
      {{ shape }}
    </div>
    <div style="width: 10vw;"></div>
    <div style="width: 10vw;">
      {{ getShapeCost(shape, vendor) }}
    </div>
  </div>
</ng-template>

<!-- * Your Store Templates * !-->
<ng-template #yourStore>
  <div>
    <div
      style="margin-top: 15px; font-size: 22px; width: 33vw; border-bottom: 1px solid black;"
    >
      <span style="margin-left: 10px;">Your Items For Sale</span>
    </div>
    <div
      *ngFor="let item of playerData.finishedItems; let i = index"
      style="display: flex; margin: 5px;"
      [style.background-color]="alternateColor(i)"
    >
      <div style="height: 24px; line-height: 24px; width: 15vw;">
        {{ item.name }} (value: {{ item.value }})
      </div>
      <div class="select">select</div>
    </div>
  </div>
</ng-template>

<ng-template #yourMaterials>
  <div style="overflow-y: auto; height: 30vh;">
    <div
      style="margin-top: 15px; font-size: 22px; width: 33vw; border-bottom: 1px solid black;"
    >
      <span style="margin-left: 10px;">Your Materials</span>
    </div>

    <div
      *ngFor="let mat of playerData.knownMaterials; let i = index"
      style="display: flex; overflow-y: auto; margin: 5px;"
      [style.background-color]="alternateColor(i)"
    >
      <div
        style="height: 24px; line-height: 24px; width: 5vw; padding-left: 5px;"
      >
        {{ mat }}
      </div>
      <div style="width: 10vw;">(qty: {{ getPlayerMatCount(mat) }})</div>
      <div class="select" (click)="sellMaterialToVendor(mat)">Sell</div>
    </div>
  </div>
</ng-template>

<ng-template #yourShapes>
  <div>
    <div
      style="margin-top: 15px; font-size: 22px; width: 33vw; border-bottom: 1px solid black;"
    >
      <span style="margin-left: 10px;">Known Shapes</span>
    </div>
    <div
      *ngFor="let shape of playerData.knownShapes; let i = index"
      style="margin: 5px;"
      [style.background-color]="alternateColor(i)"
    >
      &#x2022; {{ shape }}
    </div>
  </div>
</ng-template>
